/*
 * Automad Standard v2
 *
 * Copyright 2024 Marc Anton Dahmen, MIT license
 * https://marcdahmen.de
 */

html {
	color: var(--std-fg);
	background-color: var(--std-bg);
}

h1 {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}
