/*
 * Automad Standard v2
 *
 * Copyright 2025 Marc Anton Dahmen, MIT license
 * https://marcdahmen.de
 */

.std-button {
	display: flex;
	align-items: center;
	height: var(--std-button-height);
	padding: 0 var(--std-button-padding-x);
	border: var(--std-button-border);
	border-radius: var(--std-button-radius);
}
