/*
 * Automad Standard v2
 *
 * Copyright 2024 Marc Anton Dahmen, MIT license
 * https://marcdahmen.de
 */

html,
body {
	min-height: 100%;
}

body {
	padding: @std-body-padding;
}

.std-layout {
	display: grid;
	align-items: start;
	max-width: @std-layout-max-width;
	min-height: 100%;
	margin: 0 auto;
	--title-height: auto;
	--title-space: 2rem;
	--block-margin-left: auto;

	grid-template-columns: var(--columns);
	grid-template-rows:
		[navbar-top]
		auto
		[navbar-bottom]
		2rem
		[hero-top]
		auto
		[hero-bottom]
		4rem
		[subnav-top]
		auto
		[subnav-bottom]
		2rem
		[title-top]
		var(--title-height)
		[title-bottom]
		var(--title-space)
		[main-top]
		1fr
		[main-bottom]
		6rem
		[footer-top]
		auto
		[footer-bottom];

	&--page-sidebar {
		@footer-width: ((@std-block-width - @std-layout-gap) / 2);
		--block-margin-left: 0px;

		/* prettier-ignore */
		--columns:
			[brand-start hero-start sidebar-start]
			@std-aside-width
			[brand-end sidebar-end]
			~'max(@{std-layout-gap}, calc(((100% - @{std-block-width}) / 2) - @{std-aside-width}))'
			[nav-start subnav-start title-start main-start footer-1-start]
			@footer-width
			[footer-1-end]
			@std-layout-gap
			[footer-2-start]
			@footer-width
			[subnav-end title-end footer-2-end]
			1fr
			[nav-end hero-end main-end];
	}

	&--page-sidebar-and-toc-centered {
		@footer-width: ((@std-block-width - @std-layout-gap) / 2);

		/* prettier-ignore */
		--columns:
			[brand-start hero-start sidebar-start]
			@std-aside-width
			[brand-end sidebar-end]
			@std-layout-gap
			[main-start]
			1fr
			[nav-start subnav-start title-start footer-1-start]
			@footer-width
			[footer-1-end]
			@std-layout-gap
			[footer-2-start]
			@footer-width
			[subnav-end title-end footer-2-end]
			1fr
			[main-end]
			@std-layout-gap
			[toc-start]
			@std-aside-width
			[nav-end hero-end toc-end];
	}

	&--page-full-width-centered {
		@footer-width: ((@std-block-width - @std-layout-gap) / 2);

		/* prettier-ignore */
		--columns:
			[brand-start hero-start main-start]
			1fr
			[brand-end]
			@std-layout-gap
			[nav-start subnav-start title-start footer-1-start]
			@footer-width
			[footer-1-end]
			@std-layout-gap
			[footer-2-start]
			@footer-width
			[subnav-end title-end footer-2-end]
			1fr
			[spacer]
			@std-layout-gap
			[nav-end hero-end main-end];
	}

	&--page-full-width-left {
		--block-margin-left: 0px;
		--am-block-max-width: ~'max(@{std-block-min-width}, calc(50% - @{std-layout-gap}))';

		/* prettier-ignore */
		--columns:
			[brand-start hero-start subnav-start title-start main-start footer-1-start]
			1fr
			[brand-end footer-1-end]
			@std-layout-gap
			[nav-start footer-2-start]
			50%
			[nav-end hero-end subnav-end title-end main-end footer-2-end];
	}

	&--page-full-width-left-and-toc {
		--block-margin-left: 0px;
		--am-block-max-width: ~'max(@{std-block-min-width} ,calc(((100% + @{std-layout-gap} + @{std-aside-width}) / 2) - @{std-layout-gap}))';

		/* prettier-ignore */
		--columns:
			[brand-start hero-start subnav-start title-start main-start footer-1-start]
			1fr
			[brand-end footer-1-end]
			@std-layout-gap
			[nav-start footer-2-start]
			~'calc(50% - @{std-layout-gap} - @{std-aside-width})'
			[subnav-end title-end main-end]
			@std-layout-gap
			[toc-start]
			@std-aside-width
			[nav-end hero-end toc-end footer-2-end];
	}

	&--page-split {
		--title-height: 0px;
		--title-space: 0px;
		--block-margin-left: 0px;

		/* prettier-ignore */
		--columns:
			[brand-start hero-start subnav-start title-start footer-1-start]
			1fr
			[brand-end title-end footer-1-end]
			@std-layout-gap
			[nav-start main-start footer-2-start]
			~'max(50%, @{std-block-width} + 4rem)'
			[nav-end hero-end subnav-end main-end footer-2-end];
	}

	& .am-block {
		margin-left: var(--block-margin-left);

		& .am-block {
			margin-left: auto;
		}
	}

	&__brand {
		grid-column: brand-start / brand-end;
		grid-row: navbar-top / navbar-bottom;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		grid-column: nav-start / nav-end;
		grid-row: navbar-top / navbar-bottom;

		& > nav {
			flex-grow: 1;
		}
	}

	&__hero {
		grid-column: hero-start / hero-end;
		grid-row: hero-top / hero-bottom;
	}

	&__subnav {
		grid-column: subnav-start / subnav-end;
		grid-row: subnav-top / subnav-bottom;
	}

	&__sidebar {
		grid-column: sidebar-start / sidebar-end;
		grid-row: main-top / main-bottom;
	}

	&__title {
		grid-column: title-start / title-end;
		grid-row: title-top / title-bottom;
	}

	&__main {
		grid-column: main-start / main-end;
		grid-row: main-top / main-bottom;
	}

	&__toc {
		grid-column: toc-start / toc-end;
		grid-row: main-top / main-bottom;
	}

	&__footer-1 {
		display: flex;
		grid-column: footer-1-start / footer-1-end;
		grid-row: footer-top / footer-bottom;
	}

	&__footer-2 {
		display: flex;
		grid-column: footer-2-start / footer-2-end;
		grid-row: footer-top / footer-bottom;
	}

	& > * {
		// border: 1px solid;
	}
}
