/*
 * Automad Standard v2
 *
 * Copyright 2025 Marc Anton Dahmen, MIT license
 * https://marcdahmen.de
 */

.std-navbar {
	position: relative;
	display: grid;
	grid-template-columns: subgrid;
	margin: -@std-body-padding;
	padding: @std-body-padding;
	z-index: 100;
	background-color: var(--std-bg-1);
	opacity: 1;
	transition: opacity 0.2s;

	@media (max-width: @std-breakpoint-s-max) {
		display: flex;
		justify-content: space-between;
		column-gap: var(--std-navbar-gap);
	}

	&-brand {
		grid-column: brand-start / brand-end;

		position: relative;
		z-index: 1;
		min-width: 150px;
	}

	&-nav {
		grid-column: nav-start / nav-end;

		display: flex;
		justify-content: end;
		align-items: start;
		margin-right: ~'calc(var(--std-navbar-gap) * -1 / 2)';
	}

	&--right,
	&--full {
		display: flex;
		column-gap: var(--std-navbar-gap);
	}

	&--right &__links,
	&--full &__links {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	&--full &-nav {
		flex-grow: 1;
	}

	&--right {
		justify-content: space-between;
	}

	&--sticky {
		position: sticky;
		top: 0;
	}

	&--hidden {
		opacity: 0;
		pointer-events: none;
	}

	&__links {
		flex-grow: 1;

		position: relative;
		display: flex;
		padding: ~'calc((var(--std-button-height) - var(--std-navbar-link-height)) / 2)'
			0;

		&-reveal {
			display: none;
			align-items: center;
			min-height: var(--std-navbar-link-height);
		}

		&-items {
			display: flex;
			column-gap: var(--std-navbar-gap);

			& > a {
				display: flex;
				line-height: var(--std-navbar-link-height);
			}
		}

		@media (max-width: @std-breakpoint-s-max) {
			display: none;
		}
	}

	&--vertical &__links-items {
		flex-direction: column;
	}

	&--vertical&--scrolled &__links-reveal {
		display: flex;
	}

	&--vertical&--scrolled {
		@media (min-width: @std-breakpoint-m) {
			margin-bottom: ~'calc(var(--std-navbar-height) - (3 * @{std-body-padding}) - var(--std-button-height))';
		}
	}

	&--vertical&--scrolled &__links-items {
		position: absolute;
		opacity: 0;
		box-shadow: transparent;
		min-width: 14rem;
		top: ~'calc((var(--std-button-height) - var(--std-navbar-link-height)) / 2 - var(--std-popover-padding-y))';
		left: ~'calc(-1 * var(--std-popover-padding-x))';
		pointer-events: none;
		transition:
			box-shadow 0.4s,
			opacity 0.2s;
		.popover;
	}

	&--scrolled&--vertical:hover &__links-items {
		opacity: 1;
		pointer-events: all;
	}

	&__buttons {
		display: flex;
		padding: 0 ~'calc(var(--std-navbar-gap) / 2)';

		@media (max-width: @std-breakpoint-s-max) {
			display: none;
		}

		& a {
			margin: 0 ~'calc(var(--std-navbar-gap) / 2)';
		}
	}

	&__icon {
		position: relative;
		display: flex;
		align-items: center;
		height: var(--std-button-height);
		padding: 0 ~'calc(var(--std-navbar-gap) / 2)';
		cursor: pointer;
	}

	&__tooltip {
		position: absolute;
		display: flex;
		gap: 0.4em;
		top: var(--std-button-height);
		left: 50%;
		transform: translateX(-50%);
		padding: 0.11em 0.75em 0 0.75em;
		font-size: 0.8em;
		font-weight: 800;
		background-color: var(--std-bg-3);
		line-height: 1.5;
		border-radius: 2em;
		color: var(--std-fg-1);
		opacity: 0;
		transition: opacity 0.2s;

		:hover > & {
			opacity: 1;
		}
	}
}
