/*
 * Automad Standard v2
 *
 * Copyright 2024 Marc Anton Dahmen, MIT license
 * https://marcdahmen.de
 */

.std-search {
	&-modal {
		position: fixed;
		z-index: 9999;
		display: flex;
		justify-content: center;
		align-items: start;
		inset: 0;
		pointer-events: none;

		&__backdrop {
			position: fixed;
			inset: 0;
			background-color: var(--std-search-modal-backdrop-bg);
			backdrop-filter: blur(30px);
			pointer-events: none;
			opacity: 0;
			transition: opacity 0.2s;
		}

		&--open &__backdrop {
			opacity: 1;
			pointer-events: all;
		}

		&__dialog {
			position: relative;
			display: flex;
			flex-direction: column;
			top: 5rem;
			width: 36rem;
			max-height: ~'calc(100vh - 8rem)';
			background-color: var(--std-search-modal-dialog-bg);
			pointer-events: none;
			opacity: 0;
			transform: translateY(-15px);
			transition:
				opacity 0.2s,
				transform 0.2s;
		}

		&--open &__dialog {
			opacity: 1;
			pointer-events: all;
			transform: translateY(0);
		}
	}

	&-input {
	}

	&-results {
		display: flex;
		flex-direction: column;
	}

	&-result {
		display: flex;
		flex-direction: column;
		text-decoration: none;

		&--selected {
			background-color: var(--std-search-result-selected-bg);
		}

		&__title {
			color: var(--std-search-result-title);
		}

		&__context {
			color: var(--std-search-result-context);
		}
	}
}
