/*
 * Automad Standard v2
 *
 * Copyright 2024 Marc Anton Dahmen, MIT license
 * https://marcdahmen.de
 */

html.std-has-open-sidebar {
	overflow: hidden;
}

.std-sidebar {
	--gap: 2rem;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	.sticky();

	&-backdrop {
		.backdrop();
		z-index: 9998;

		.std-has-open-sidebar & {
			pointer-events: all;
			opacity: 1;
		}
	}

	.std-layout[class*='-sidebar'] & {
		@media (max-width: @std-breakpoint-s-max) {
			.sidebar-offcanvas();
		}

		&-toggle {
			@media (min-width: @std-breakpoint-m) {
				display: none;
			}
		}
	}

	&-toggle {
		&--mobile {
			@media (min-width: @std-breakpoint-m) {
				display: none;
			}
		}

		&--hidden {
			display: none;
		}
	}

	.std-layout:not([class*='-sidebar']) & {
		.sidebar-offcanvas();
	}

	&__close {
		display: none;
		justify-content: end;
	}

	.std-has-open-sidebar &__close {
		display: flex;
	}

	&__navbar-buttons {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 0.2rem;

		@media (min-width: @std-breakpoint-m) {
			display: none;
		}
	}

	& ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	& &__navbar-links {
		padding-bottom: var(--gap);
		border-bottom: 1px solid var(--std-fg-1);

		@media (min-width: @std-breakpoint-m) {
			display: none;
		}
	}

	&__breadcrumbs {
		margin-left: -0.125em;
	}

	&__tree {
		--color: var(--std-fg-2);
		--hover: var(--std-fg-1);

		& li {
			display: flex;
			flex-direction: column;
		}

		& a {
			position: relative;
			display: flex;
			padding-right: 1.35em;
		}

		& & {
			padding-left: 0.9rem;
			.small-text;
		}

		& .std-active,
		& .std-active-path {
			--color: var(--std-fg-1);
		}
	}
}
