/*
 * Automad Standard v2
 *
 * Copyright 2024 Marc Anton Dahmen, MIT license
 * https://marcdahmen.de
 */

@std-body-padding: 1.5rem;

@std-block-width: 42rem;
@std-block-min-width: 36rem;
@std-aside-width: 13rem;
@std-layout-max-width: 102rem;

@std-breakpoint-l: 1650px;
@std-breakpoint-m: 1280px;
@std-breakpoint-s-max: (@std-breakpoint-m - 1);
@std-breakpoint-s: 768px;
@std-breakpoint-xs-max: (@std-breakpoint-s - 1);
