:root {
	--std-bg: #ffffff;
	--std-fg: #111111;

	--std-search-modal-backdrop-bg: var(--std-bg);
	--std-search-modal-backdrop-opacity: 0.7;
	--std-search-modal-dialog-width: 40rem;
	--std-search-result-selected-bg: #f0f0f0;
}

.dark {
	--std-bg: #111111;
	--std-fg: #eeeeee;

	--std-search-modal-backdrop-bg: var(--std-bg);
	--std-search-result-selected-bg: #181818;
}
