/*
 * Automad Standard v2
 *
 * Copyright 2024 Marc Anton Dahmen, MIT license
 * https://marcdahmen.de
 */

@import './blocks.less';

/**
 * Colors
 */
:root {
	/**
	 * Light Theme
	 */
	--std-fg-1: hsl(240, 8%, 18%);
	--std-fg-2: hsl(240, 8%, 58%);

	--std-bg-1: hsl(240, 0%, 100%);
	--std-bg-2: hsl(240, 8%, 97%);
	--std-bg-3: hsl(240, 8%, 92%);
	--std-bg-4: hsl(240, 8%, 85%);

	--std-backdrop-bg: hsla(240, 8%, 74%, 0.1);
}

.dark {
	/**
	 * Dark Theme
	 */
	color-scheme: dark;

	--std-fg-1: hsl(220, 10%, 96%);
	--std-fg-2: hsl(220, 10%, 67%);

	--std-bg-1: hsl(220, 10%, 6%);
	--std-bg-2: hsl(220, 10%, 12%);
	--std-bg-3: hsl(220, 10%, 18%);
	--std-bg-4: hsl(220, 10%, 25%);

	--std-backdrop-bg: hsla(220, 10%, 28%, 0.1);
}

/**
 * Layout
 */
:root {
	/**
	 * Normal Layout
	 */
	--std-layout-gap: 2rem;
	--std-navbar-align-items: start;
	--std-navbar-space-bottom: 8rem;
	--std-hero-space-top: 4rem;
	--std-hero-space-bottom: 4rem;
	--std-breadcrumbs-space-bottom: 1rem;
	--std-title-space-bottom: 2rem;
	--std-main-space-bottom: 8rem;
	--std-prev-next-space-bottom: 2rem;
	--std-related-space-bottom: 2rem;
	--std-footer-space-top: 6rem;

	@media (min-width: 1180px) {
		--std-layout-gap: 5rem;
	}

	/**
	 * Compact Layout
	 */
	&.compact {
		--std-layout-gap: 1.25rem;
	}
}

/**
 * Pagelist
 */
:root {
	--std-pagelist-grid-size: 17rem;
	--std-pagelist-grid-size-large: 32rem;
	--std-pagelist-grid-size-square: 12.5rem;

	@media (min-width: 1800px) {
		--std-pagelist-grid-size-square: 14rem;
	}

	--std-pagelist-grid-row-gap: var(--std-layout-gap);
	--std-pagelist-grid-column-gap: var(--std-layout-gap);

	--std-pagelist-hover-opacity: 0.6;

	--std-pagelist-item-compact-padding-bottom: 0;

	&.compact {
		--std-pagelist-item-compact-padding-bottom: 3rem;
	}

	--std-card-padding: 0.75rem;
	--std-card-radius: 0.3rem;
	--std-card-bg: var(--std-bg-2);
	--std-card-border: none;

	--std-card-hover-bg: var(--std-bg-2);
	--std-card-hover-border: none;
}

/**
 * Search
 */
:root {
	--std-search-modal-dialog-bg: var(--std-bg-1);
	--std-search-result-selected-bg: var(--std-bg-4);
	--std-search-result-title: var(--std-fg-1);
	--std-search-result-context: var(--std-fg-2);
}

/**
 * Tags
 */
:root {
	--std-tag-padding: 0 0.7em;
	--std-tag-font-size: 0.65em;
	--std-tag-font-weight: 600;
	--std-tag-line-height: 2;

	--std-tag-fg: inherit;
	--std-tag-bg: var(--std-bg-3);
	--std-tag-border: none;

	--std-tag-hover-fg: inherit;
	--std-tag-hover-bg: var(--std-bg-4);
	--std-tag-hover-border: none;

	--std-tag-active-fg: var(--std-bg-1);
	--std-tag-active-bg: var(--std-fg-1);
	--std-tag-active-border: none;

	--std-tag-radius: 2rem;
}

/**
 * Typography
 */
:root {
	--std-font-family: 'Inter Variable', sans-serif;
	--std-heading-font-family: 'Inter Variable', sans-serif;
	--std-code-font-family: 'JetBrains Mono Variable', monospace;

	--std-line-height: 1.6;
	--std-code-line-height: 1.6;
	--std-font-weight: 430;

	--std-h1-font-size: 3rem;
	--std-h1-font-weight: 700;
	--std-h1-line-height: 1.2;
	--std-h1-letter-spacing: -0.1rem;

	--std-h2-font-size: 2.5rem;
	--std-h2-font-weight: 700;
	--std-h2-line-height: 1.2;
	--std-h2-letter-spacing: -0.1rem;

	--std-h3-font-size: 2rem;
	--std-h3-font-weight: 700;
	--std-h3-line-height: 1.2;
	--std-h3-letter-spacing: -0.1rem;

	--std-h4-font-size: 1.75rem;
	--std-h4-font-weight: 700;
	--std-h4-line-height: 1.2;
	--std-h4-letter-spacing: -0.1rem;

	--std-h5-font-size: 1.5rem;
	--std-h5-font-weight: 700;
	--std-h5-line-height: 1.2;
	--std-h5-letter-spacing: -0.1rem;

	--std-h6-font-size: 1.25rem;
	--std-h6-font-weight: 700;
	--std-h6-line-height: 1.2;
	--std-h6-letter-spacing: -0.1rem;
}
